# 忽略日志
logs/
*.log


# 忽略Byte编译的文件
__pycache__/
constants/__pycache__/
instances/__pycache__/
tools/__pycache__/
tests/__pycache__/

*.py[cod]
*$py.class

# 忽略IDE文件
.vscode/
result.json
_preview.ipynb

# 忽略临时文件
profile/