# pipreqs . --force

aiohttp==3.9.5
charset_normalizer==3.3.2
fitz==0.0.1.dev2
httpx==0.27.2
jieba==0.42.1
loguru==0.7.2
Markdown==3.6
matplotlib==3.9.2
moviepy==1.0.3
numpy==2.1.1
pdfkit==1.0.0
Pillow==10.4.0
pillow_heif==0.16.0
py7zr==0.21.0
pytest==8.2.0
rarfile==4.2
scipy==1.14.1
setuptools==69.1.1
tqdm==4.66.4
